nav {
    background: #0074b1;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
nav h2 {
    color: #fff;
  }
  
nav button {
    width: 86px;
    padding: 8px 0;
    background: #8372a5;
  }
  